<footer class="footer has-background-grey-dark">
  <a id="topBtn">Back to the top</a>
  <hr class="has-background-grey" />
  <div class="content has-text-centered">
    <p class="has-text-white">Created by agent raghav</p>
  </div>
</footer>

<script src="/public/javascripts/navbar.js"></script>
